$typo: 'Raleway', sans-serif;
$font-weights: (
    "bold": 700,
    "medium": 500
);
$font-sizes: (
    "l": 3.6rem,
    "m": 2.4rem,
    "s": 1.8rem,
    "xs": 1.4rem
);
$colors: (
    "black": #000000,
    "jet": #333333,
    "davys-grey": #4F4F4F,
    "gray-web": #828282,
    "buff": #F7DF94,
    "cultured": #F2F2F2,
    "white": #FFFFFF,
    "accent": #0077FF,
);

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 1.8rem 12rem;
    background-color: map-get($colors, "white");
    font-family: $typo;
    font-weight: map-get($font-weights, "medium");
    font-size: map-get($font-sizes, "l");
}

footer {
    font-size: map-get($font-sizes, "xs");
    font-weight: inherit;
    text-align: center;

    a {
        font-weight: map-get($font-weights, "bold");
        color: map-get($colors, "accent");
        text-decoration: none
    }
}


/*  || Classes */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto;
    grid-gap: 1rem;
    margin: 10rem 0;
    height: auto;
}
.quote {
    display: flex;
    position: relative;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 4;
    margin: 6rem 0;
    font-weight: inherit;
    font-size: inherit;
    text-align: left;
    color: map-get($colors, "black");

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -12rem;
        border-radius: 1rem;
        background-color: map-get($colors, "buff");
        width: .8rem;
        height: 100%;
        transition: .4s width;
    }
}
.changing-quote {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -12rem;
        border-radius: 1rem;
        background-color: map-get($colors, "buff");
        width: 120%;
        height: 100%;
        transition: .4s width;
    }
}

.author-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 4;
    border-radius: 1rem;
    width: 100%;
    height: 16vh;
    margin: 6rem 0;
    padding: 0 4rem;
    transition: .3s background-color;

    &:hover {
        background-color: map-get($colors, "jet");
        cursor: pointer;

        h3 {
            color: map-get($colors, "cultured");
        }
    }

    h3 {
        font-size: map-get($font-sizes, "m");
        font-weight: map-get($font-weights, "bold");
        color: map-get($colors, "davys-grey");
        transition: .3s background-color;
    }
    p {
        font-size: map-get($font-sizes, "xs");
        font-weight: inherit;
        color: map-get($colors, "gray-web");
        text-transform: capitalize;
    }
}

.icon-rotate {
    transform: rotate(360deg);
    transition: 1s transform;
}


/*  ||  IDs  */
#author-icon {
    color: map-get($colors, "white");
}

#author-name {
    display: block;
    margin: 10vh 0 0 20vw;
    font-size: inherit;
    font-weight: map-get($font-weights, "bold");
}

#randomizer {
    position: absolute;
    top: 2rem;
    right: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    outline: none;
    background-color: inherit;
    font-size: map-get($font-sizes, "s");
    font-weight: inherit;

    &:hover {
        cursor: pointer;
    }
}
